<div class="main_detail">
  <div class="container">
    <div class="row">
      <div class="detail_left">
        <%= image_tag @tour.image, class: "img-detail" %>
        <div class="row">
          <div class="review">
            <h3><%= t "review.h4_title" %></h3>
            <%= link_to t("review.add_review"), new_tour_review_path(@tour), class: "btn-load" %>
            <% if @reviews.count > Settings.review.count.zero %>
              <%= render @reviews %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="detail_right">
        <div class="tour_item">
          <div class="tour_info">
            <p class="name_tour"><%= @tour.name %></p>
            <div class="star-rating" data-score=<%= @avg_rating %>></div>
            <em><%= t "review.reviews_count", review_count: @reviews.size %></em>
            <p>
              <span><%= t "static_pages.tours.p_address" %></span>
              <%= @tour.address %>
            </p>
            <p>
              <span><%= t "static_pages.tours.p_time_from" %></span>
              <%= @tour.time_from %>
            </p>
            <p>
              <span><%= t "static_pages.tours.p_time_to" %></span>
              <%= @tour.time_to %>
            </p>
            <p><%= @tour.tour_info %></p>
            <hr>
            <p class="price"><%= number_to_currency(@tour.price,
              unit: t("static_pages.tours.price"), format: "%n %u") %></p>
            <%= button_tag class: "btn-tour btn-primary", data: {toggle: "collapse", target: "#demo"} do %>
              <%= t "static_pages.tours.btn_booking" %>
            <% end %>
            <div class="clearfix"></div>
          </div>
        </div>
      <div class="clearfix"></div>
      <div>
        <div id="demo" class="collapse">
          <div class="form-booking">
            <%= form_for @tour.bookingtours.build, url: bookingtours_path do |f| %>
              <%= hidden_field_tag :tour_id, @tour.id %>
              <div class="select_quantity">
                <%= content_tag :label, t("booking_tour.quantity_title") %>
                <%= f.select :quantity,options_for_select(select_quantity_values) %>
              </div>
              <%= f.submit t("booking_tour.finish"), class: "finish_select"
                %>
              <div class="clearfix"></div>
            <% end %>
          </div>
        </div>
      </div>
      </div>
    </div>
    <div class="row invole">
      <h4><%= t "tour_invole" %></h4>
      <%= render @tours_involve if @tours_involve.size > 0 %>
    </div>
  </div>
</div>
