<div class="menu">
  <div class="infouser">
    <div class="imguser">
      <%= image_tag "user-icon.png" %>
    </div>
    <div class="name_user">
      <p><%= t "admin.menu.info_user.name" %></p>
      <p><%= link_to t("admin.menu.info_user.title_logout"), "#" %></p>
    </div>
  </div>
  <ul>
    <li><%= link_to t("admin.menu.title_muser"), "#" %></li>
    <li><%= link_to t("admin.menu.title_mbooking_tour"), "#" %></li>
    <li><%= link_to t("admin.menu.title_mtour"), admin_tours_path %></li>
  </ul>
</div>
