<div class="container">
  <h4><%= t "booking_tour.h4_history_booking" %></h4>
  <% @booking_tours.each do |booking_tour| %>
    <div class="row item_book">
      <div class="col-md-4">
        <%= image_tag booking_tour.image, class: "img-thumbnail" %>
      </div>
      <div class="col-md-8 history_booking">
        <h4><%= booking_tour.name %></h4>
        <p><%= t "booking_tour.place_from", place_from: booking_tour.address %></p>
        <p><%= t "booking_tour.quantity", quantity: booking_tour.quantity %></p>
        <p><%= t "booking_tour.state_his", state: booking_tour.state %></p>
        <p><%= t "booking_tour.created_at", created_at: booking_tour.created_at %></p>
        <p><%= t "booking_tour.updated_at", updated_at: booking_tour.updated_at %></p>
        <%= link_to t("booking_tour.link_tour"), tour_path(booking_tour.tour) %>
        <% if is_considering? booking_tour %>
          <%= link_to t("booking_tour.btn-cancel"), bookingtour_path(booking_tour),
            method: :delete, data:{confirm: t("admin.tour.confirm_dele")}, class: "btn btn-info" %>
        <% end %>
      </div>
    </div>
    <hr>
  <% end %>
</div>
