<div class="footer-agile">
  <div class="container">
    <div class="footer-btm-agileinfo">
      <div class="col-md-3 col-xs-3 footer-grid w3social">
        <h3><%= t("layouts.footer.links")%></h3>
        <ul>
          <li><%= link_to t("static_pages.home.title"), home_path %></li>
          <li><%= link_to t("static_pages.about.title"), about_path %></li>
          <li><%= link_to t("static_pages.tours.title"), tours_path %></li>
        </ul>
      </div>
      <div class="col-md-4 col-xs-4 footer-grid">
        <h3><%= t("layouts.footer.info") %></h3>
        <p><%= t("layouts.footer.phone") %></p>
        <p><%= t("layouts.footer.address") %></p>
        <p><%= t("layouts.footer.email") %></p>
      </div>
      <div class="col-md-4 col-xs-4 footer-grid footer-review">
        <h3><%= t("layouts.footer.words") %></h3>
        <p><%= t("layouts.footer.slogan1") %></p>
        <p><%= t("layouts.footer.slogan2") %></p>
      </div>
      <div class="clearfix"> </div>
    </div>
    <div class="footer-agilem">
      <div class="col-sm-8 col-xs-9 copy-w3lsright">
        <p><%= t("layouts.footer.foot") %></p>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
